* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.966);
}

.left-bar {
  float: left;
  padding: 20px;
}
.left-bar h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: yellow;
  font-size: 52px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.384);
}

.logo {
  background-size: 150px Auto;
}
.logo > img {
  float: left;
  width: 5%;
  height: 5%;
}
.right {
  float: right;
}
.right > a {
  display: inline-block;
  font-size: 20px;
  color: yellow;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0;
}
.right > a > img {
  display: inline-block;
  width: 8%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0;
}

#btn-1 {
  position: fixed;
  padding: 50px;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: yellow;
  background: linear-gradient(45deg, black, transparent);
  border: 1px solid black;
  border-square: 50px;
  box-shadow: 0px 0px 5px 10px green;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#btn-1:hover {
  color: green;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 10px yellow;
}
/*fixed button
#btn-2{
	position: fixed;
	padding: 50px;
	bottom: 0;
    left: 43%;
	
	
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: yellow;
	background: linear-gradient(45deg, black, transparent);
	border: 1px solid black;
	border-square: 50px;
	box-shadow: 0px 0px 5px 10px green;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
				               }

#btn-2:hover{
	color:green;cursor:pointer;border-radius:50px;box-shadow:0px 0px 5px 10px yellow;
}*/

#btn-3 {
  position: fixed;
  padding: 50px;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: yellow;
  background: linear-gradient(45deg, black, transparent);
  border: 1px solid black;
  border-square: 50px;
  box-shadow: 0px 0px 5px 10px green;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#btn-3:hover {
  color: green;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 10px yellow;
}

.cont {
  padding: 20px;
}
.cont > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cover > h1 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}

.cover {
  padding: 20px;
}

.itemBoxGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  grid-auto-flow: column;
}
.itemBoxGrid > div {
  width: 100%;
  height: 100%;
}
.itemBoxGrid > div img {
  width: 100%;
  height: 80%;
}

.itemBox {
  text-align: center;
}
.itemBox label {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
  color: yellow;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.384);
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: left;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.checkbox-round:checked {
  background-color: green;
}

h1,
h2,
h3,
h4,
h5 {
  color: yellow;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.loginDiv {
  padding: 100px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: yellow;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/*Arreglar css esta por la pija mismo pixeles en todas las fotos*/
#imgOrder {
  display: fixed;
  max-width: 300px;
  max-height: 300px;
  display: block; /* remove extra space below image */
}

.navbar ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: black;
  height: 125px;
  line-height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.navbar a {
  display: block;
  text-decoration: none;
}
.navbar li {
  float: left;
}
#logo {
  width: 20%;
}
.navbar a:hover,
.active a {
  padding: 20px;
}
.search-box {
  float: right;
  padding: 0px 75px;
}
#carrito {
  width: 5%;
  position: fixed;
  padding: 20px;
  top: 15px;
  right: 115px;
}
#btnlogin {
  position: fixed;
  padding: 20px;
  top: 35px;
  right: 10px;
}
.login {
  padding: 20px;
}

#btncarrito {
  width: 50px;
  height: 50px;
}
p{
  font-size: large;
}

